# 날짜와 시간을 위한 데이터 타입 설정하기

In [2]:
import pandas as pd

order_df = pd.read_csv('order.csv')
order_df

,order_time,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time
0,2015-01-01 04:54:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,3,179.97,6,2015-01-07 19:07:00
1,NaN,Men's Footwear,Nike Men's CJ Elite 2 TD Football Cleat,129.99,1,129.99,6,2015-01-04 09:47:00
2,2015-01-01 02:27:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,4,199.92,6,2015-01-05 13:15:00
3,2015-01-01 19:58:00,Golf Gloves,Clicgear 8.0 Shoe Brush,9.99,2,19.98,6,2015-01-05 12:08:00
4,2015-01-01 03:51:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,6,2015-01-04 20:06:00
...,...,...,...,...,...,...,...,...
18045,2018-01-31 10:20:00,Women's Clothing,Summer dresses,215.82,1,215.82,4,2018-02-02 13:53:00
18046,2018-01-31 21:53:00,Women's Clothing,Summer dresses,215.82,1,215.82,3,2018-02-02 18:50:00
18047,2018-01-31 17:20:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-02 10:16:00
18048,2018-01-31 12:26:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-03 18:58:00
18049,2018-01-31 16:59:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-06 20:32:00

In [4]:
order_df.dtypes

order_time                      object
category                        object
product_name                    object
price                          float64
quantity                         int64
sales                          float64
days_for_shipping(expected)      int64
shipping_time                   object
dtype: object

### to_datetime() 컬럼의 데이터타입을 시간으로 바꿔준다.

In [5]:
pd.to_datetime(order_df['order_time'])

0       2015-01-01 04:54:00
1                       NaT
2       2015-01-01 02:27:00
3       2015-01-01 19:58:00
4       2015-01-01 03:51:00
                ...
18045   2018-01-31 10:20:00
18046   2018-01-31 21:53:00
18047   2018-01-31 17:20:00
18048   2018-01-31 12:26:00
18049   2018-01-31 16:59:00
Name: order_time, Length: 18050, dtype: datetime64[ns]

In [9]:
order_df['order_time'] = pd.to_datetime(order_df['order_time'])

In [10]:
order_df['shipping_time'] = pd.to_datetime(order_df['shipping_time'])

In [13]:
order_df.dtypes

order_time                     datetime64[ns]
category                               object
product_name                           object
price                                 float64
quantity                                int64
sales                                 float64
days_for_shipping(expected)             int64
shipping_time                  datetime64[ns]
dtype: object

In [14]:
order_df = pd.read_csv('order.csv',parse_dates=['order_time','shipping_time']) #parse_dates 매개변수

In [15]:
order_df.dtypes

order_time                     datetime64[ns]
category                               object
product_name                           object
price                                 float64
quantity                                int64
sales                                 float64
days_for_shipping(expected)             int64
shipping_time                  datetime64[ns]
dtype: object

In [16]:
order_df

,order_time,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time
0,2015-01-01 04:54:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,3,179.97,6,2015-01-07 19:07:00
1,NaT,Men's Footwear,Nike Men's CJ Elite 2 TD Football Cleat,129.99,1,129.99,6,2015-01-04 09:47:00
2,2015-01-01 02:27:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,4,199.92,6,2015-01-05 13:15:00
3,2015-01-01 19:58:00,Golf Gloves,Clicgear 8.0 Shoe Brush,9.99,2,19.98,6,2015-01-05 12:08:00
4,2015-01-01 03:51:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,6,2015-01-04 20:06:00
...,...,...,...,...,...,...,...,...
18045,2018-01-31 10:20:00,Women's Clothing,Summer dresses,215.82,1,215.82,4,2018-02-02 13:53:00
18046,2018-01-31 21:53:00,Women's Clothing,Summer dresses,215.82,1,215.82,3,2018-02-02 18:50:00
18047,2018-01-31 17:20:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-02 10:16:00
18048,2018-01-31 12:26:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-03 18:58:00
18049,2018-01-31 16:59:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-06 20:32:00

In [19]:
order_df.isna().sum()

order_time                     1
category                       0
product_name                   0
price                          0
quantity                       0
sales                          0
days_for_shipping(expected)    0
shipping_time                  0
dtype: int64

In [22]:
order_df = order_df.dropna()

In [27]:
order_df['order_time'].dt.dayofweek

0        3
2        3
3        3
4        3
5        3
        ..
18045    2
18046    2
18047    2
18048    2
18049    2
Name: order_time, Length: 18049, dtype: int32

## 날짜와 시간 데이터 인덱싱하기

In [28]:
order_df

,order_time,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time
0,2015-01-01 04:54:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,3,179.97,6,2015-01-07 19:07:00
2,2015-01-01 02:27:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,4,199.92,6,2015-01-05 13:15:00
3,2015-01-01 19:58:00,Golf Gloves,Clicgear 8.0 Shoe Brush,9.99,2,19.98,6,2015-01-05 12:08:00
4,2015-01-01 03:51:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,6,2015-01-04 20:06:00
5,2015-01-01 22:04:00,Women's Apparel,Nike Men's Dri-FIT Victory Golf Polo,50.00,3,150.00,3,2015-01-03 19:47:00
...,...,...,...,...,...,...,...,...
18045,2018-01-31 10:20:00,Women's Clothing,Summer dresses,215.82,1,215.82,4,2018-02-02 13:53:00
18046,2018-01-31 21:53:00,Women's Clothing,Summer dresses,215.82,1,215.82,3,2018-02-02 18:50:00
18047,2018-01-31 17:20:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-02 10:16:00
18048,2018-01-31 12:26:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-03 18:58:00
18049,2018-01-31 16:59:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-06 20:32:00

In [32]:
order_df = order_df.set_index('order_time').sort_index()

In [33]:
order_df

,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time
order_time,,,,,,,
2015-01-01 02:27:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,4,199.92,6,2015-01-05 13:15:00
2015-01-01 03:51:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,6,2015-01-04 20:06:00
2015-01-01 04:33:00,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,399.98,1,399.98,6,2015-01-06 18:01:00
2015-01-01 04:54:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,3,179.97,6,2015-01-07 19:07:00
2015-01-01 07:42:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,4,2015-01-05 17:05:00
...,...,...,...,...,...,...,...
2018-01-31 12:26:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-03 18:58:00
2018-01-31 16:59:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-06 20:32:00
2018-01-31 17:20:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-02 10:16:00
2018-01-31 18:44:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-06 18:53:00
2018-01-31 21:53:00,Women's Clothing,Summer dresses,215.82,1,215.82,3,2018-02-02 18:50:00

In [34]:
order_df.loc['2015-01-01 03:51:00'] #loc

category                                                    Camping & Hiking
product_name                   Diamondback Women's Serene Classic Comfort Bi
price                                                                 299.98
quantity                                                                   1
sales                                                                 299.98
days_for_shipping(expected)                                                6
shipping_time                                            2015-01-04 20:06:00
Name: 2015-01-01 03:51:00, dtype: object

In [35]:
order_df.loc['2015'] #부분 문자열 인덱싱

,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time
order_time,,,,,,,
2015-01-01 02:27:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,4,199.92,6,2015-01-05 13:15:00
2015-01-01 03:51:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,6,2015-01-04 20:06:00
2015-01-01 04:33:00,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,399.98,1,399.98,6,2015-01-06 18:01:00
2015-01-01 04:54:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,3,179.97,6,2015-01-07 19:07:00
2015-01-01 07:42:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,4,2015-01-05 17:05:00
...,...,...,...,...,...,...,...
2015-12-31 16:18:00,Women's Apparel,Nike Men's Dri-FIT Victory Golf Polo,50.00,1,50.00,6,2016-01-04 17:07:00
2015-12-31 18:45:00,Women's Apparel,Nike Men's Dri-FIT Victory Golf Polo,50.00,5,250.00,4,2016-01-06 11:14:00
2015-12-31 19:27:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,3,149.94,6,2016-01-03 14:51:00
2015-12-31 20:51:00,Shop By Sport,Under Armour Girls' Toddler Spine Surge Runni,39.99,4,159.96,6,2016-01-02 12:18:00
2015-12-31 22:36:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,6,2016-01-02 13:46:00

In [36]:
order_df.loc['2015-06']

,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time
order_time,,,,,,,
2015-06-01 01:00:00,Men's Footwear,Nike Men's CJ Elite 2 TD Football Cleat,129.99,1,129.99,6,2015-06-05 19:09:00
2015-06-01 01:42:00,Men's Footwear,Nike Men's CJ Elite 2 TD Football Cleat,129.99,1,129.99,6,2015-06-07 20:58:00
2015-06-01 02:24:00,Shop By Sport,Under Armour Girls' Toddler Spine Surge Runni,39.99,1,39.99,4,2015-06-04 18:16:00
2015-06-01 02:46:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,4,239.96,4,2015-06-05 09:27:00
2015-06-01 02:46:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,4,239.96,4,2015-06-05 14:54:00
...,...,...,...,...,...,...,...
2015-06-30 17:57:00,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,399.98,1,399.98,6,2015-07-04 19:39:00
2015-06-30 20:04:00,Water Sports,Pelican Sunstream 100 Kayak,199.99,1,199.99,4,2015-07-05 17:14:00
2015-06-30 22:52:00,Cardio Equipment,Nike Men's Free 5.0+ Running Shoe,99.99,3,299.97,3,2015-07-02 19:19:00
2015-06-30 23:34:00,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,399.98,1,399.98,3,2015-07-02 18:35:00
2015-06-30 23:34:00,Accessories,Team Golf Tennessee Volunteers Putter Grip,24.99,2,49.98,3,2015-07-02 11:47:00

In [37]:
order_df.loc['2015-06-10']

,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time
order_time,,,,,,,
2015-06-10 00:07:00,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,399.98,1,399.98,6,2015-06-13 13:29:00
2015-06-10 00:28:00,Men's Footwear,Nike Men's CJ Elite 2 TD Football Cleat,129.99,1,129.99,6,2015-06-14 20:16:00
2015-06-10 01:31:00,Cardio Equipment,Nike Men's Free 5.0+ Running Shoe,99.99,5,499.95,3,2015-06-12 20:51:00
2015-06-10 02:34:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,1,59.99,6,2015-06-15 14:14:00
2015-06-10 04:40:00,Men's Footwear,Nike Men's CJ Elite 2 TD Football Cleat,129.99,1,129.99,6,2015-06-16 16:08:00
2015-06-10 04:40:00,Water Sports,Pelican Sunstream 100 Kayak,199.99,1,199.99,6,2015-06-16 10:30:00
2015-06-10 06:46:00,Men's Footwear,Nike Men's CJ Elite 2 TD Football Cleat,129.99,1,129.99,3,2015-06-12 19:37:00
2015-06-10 06:46:00,Men's Footwear,Nike Men's CJ Elite 2 TD Football Cleat,129.99,1,129.99,3,2015-06-12 14:41:00
2015-06-10 12:02:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,1,49.98,4,2015-06-12 10:14:00
2015-06-10 15:32:00,Men's Footwear,Nike Men's CJ Elite 2 TD Football Cleat,129.99,1,129.99,6,2015-06-12 14:23:00
2015-06-10 16:56:00,Electronics,Under Armour Men's Compression EV SL Slide,44.99,5,224.95,3,2015-06-12 09:55:00
2015-06-10 17:17:00,Women's Apparel,Nike Men's Dri-FIT Victory Golf Polo,50.00,3,150.00,3,2015-06-12 13:26:00
2015-06-10 18:20:00,Electronics,Titleist Pro V1x High Numbers Personalized Go,51.99,3,155.97,6,2015-06-15 11:43:00
2015-06-10 21:08:00,Men's Footwear,Nike Men's CJ Elite 2 TD Football Cleat,129.99,1,129.99,6,2015-06-13 20:55:00
2015-06-10 23:35:00,Cardio Equipment,Nike Men's Free 5.0+ Running Shoe,99.99,2,199.98,6,2015-06-15 13:37:00
2015-06-10 23:35:00,Water Sports,Pelican Sunstream 100 Kayak,199.99,1,199.99,6,2015-06-15 17:48:00

In [38]:
order_df['2015' : '2017']

,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time
order_time,,,,,,,
2015-01-01 02:27:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,4,199.92,6,2015-01-05 13:15:00
2015-01-01 03:51:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,6,2015-01-04 20:06:00
2015-01-01 04:33:00,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,399.98,1,399.98,6,2015-01-06 18:01:00
2015-01-01 04:54:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,3,179.97,6,2015-01-07 19:07:00
2015-01-01 07:42:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,4,2015-01-05 17:05:00
...,...,...,...,...,...,...,...
2017-12-31 09:51:00,DVDs,DVDs,164.38,1,164.38,6,2018-01-02 20:35:00
2017-12-31 10:33:00,DVDs,DVDs,164.38,1,164.38,6,2018-01-04 18:24:00
2017-12-31 12:18:00,DVDs,DVDs,164.38,1,164.38,6,2018-01-04 14:33:00
2017-12-31 14:03:00,DVDs,DVDs,164.38,1,164.38,6,2018-01-04 17:07:00
2017-12-31 20:00:00,DVDs,DVDs,164.38,1,164.38,6,2018-01-06 14:40:00